# SQL

In [25]:
import psycopg2
from sqlalchemy import create_engine
%load_ext sql
import pandas as pd

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [26]:
engine = create_engine('postgresql://user:pass@localhost/umuzi')

In [27]:
# connection = psycopg2.connect(user = "user",
#                                   password = "pass",
#                                   host = "localhost",
#                                   port = "5432",
#                                   database = "umuzi")

In [28]:
# cursor = connection.cursor()

In [29]:
# cursor.execute('SELECT * FROM customers')
# a = cursor.fetchall()
# connection.commit()

## Creating a database

### 1.Create a database called “Umuzi”.

In [45]:
# CREATE DATABASE Umuzi

SyntaxError: invalid syntax (<ipython-input-45-03bf4e0965f7>, line 1)

### 2.Create the following tables in the Umuzi database:

- Customers
- Employees
- Orders
- Payments
- Products

### 3.Create a primary key for each table with auto-increment: 
- make sure you correctly specify the data types, e.g. the ID field should be int.
    - A primary key is considerd to be variable with unique values (find a good explanation)
    
### 4.Create foreign keys so that every ID in the order table references an existing ID in the tables referenced :
- ProductID, EmployeeID, etc.

### The code executed on the SQL command

In [31]:
# CREATE TABLE Customers(
# CustomerID SERIAL  UNIQUE, 
# FirstName VARCHAR(50),
# LastName VARCHAR(50),
# Gender VARCHAR,
# Address VARCHAR(200),
# Phone INT,
# Email VARCHAR(100)  UNIQUE,
# City  VARCHAR(20),
# Country VARCHAR(50),
# PPRIMARY KEY(CustomerID) 
# )

In [32]:
# CREATE TABLE  Employees(
# EmployeeID  SERIAL  UNIQUE,
# FirstName  VARCHAR(50),
# LastName VARCHAR(50),
# Email VARCHAR(100)  UNIQUE,
# JobTitle VARCHAR(20),
# PRIMARY KEY(EmployeeID)
# )

In [33]:
# CREATE TABLE Orders(
# OrderId  SERIAL  UNIQUE,
# ProductID  INT  REFERENCE Products(ProductId),
# PaymentID  INT  REFERNCE Payments(PaymentID),
# FulfilledByEmployeeID INT  REFERNCE Employees(EmployeeID),
# DateRequired  DATE,
# DateShipped  DATE,
# Status  VARCHAR(20),
# PRIMARY KEY(OrderId)
# )

In [ ]:
# CREATE TABLE Payments(
# CustomerId  INT  UNIQUE,
# PaymentID INT  UNIQUE,
# PaymentDate  DATE,
# Amount  DECIMAL,
# PRIMARY KEY(PaymentID)

# )

In [34]:
# CREATE TABLE Products(
# ProductName VARCHAR(100),
# Description  VARCHAR(300),
# BuyPrice  DECIMAL,
# PRIMARY KEY(ProductId)
# )

### 5.INSERT the records in the tables below into the table you created in step 2.

In [36]:
# INSERT INTO customers ( 
# FirstName,LastName,Gender,Address,Phone,Email,City,Country)
#  VALUES ('John','Hibert','Male','284 chaucer st',084789657,'john@gmail.com,Johannesburg','South Africa'),
# ('Thando','Sithole','Female','240 Sect 1',0794445584,'thando@gmail.com','Cape Town',	'South Africa'),
# ('Leon','Glen',	'Male',	'81 Everton Rd,Gillits',0820832830,'Leon@gmail.com','Durban','South Africa'),
# ('Charl','Muller','Male','290A Dorset Ecke',+44856872553,'Charl.muller@yahoo.com','Berlin','Germany'),
# ('Julia','Stein','Female','2 Wernerring',+448672445058,'Js234@yahoo.com','Frankfurt', 'Germany');

In [37]:
# INSERT INTO Employees(FirstName,LastName,Email,JobTitle)
#  VALUES ('Kani','Matthew','mat@gmail.com','Manager'),
# ('Lesly','Cronje','LesC@gmail.com','Clerk'),
# ('Gideon','Maduku','m@gmail.com','Accountant');

In [38]:
# INSERT INTO Products(ProductId,ProductName,Description,BuyPrice)
# VALUES
# (1,'Harley Davidson Chopper', 'This replica features working kickstand, front suspension, gear-shift lever',150.75),
# (2, 'Classic Car', 'Turnable front wheels, steering function',550.75),
# (3, 'Sports car', 'Turnable front wheels, steering function',700.60)
# ;

In [39]:
# INSERT INTO Payments(CustomerId,PaymentID,PaymentDate,Amount)
# VALUES
# (1,1,'01-09-2018',150.75),
# (5,2,'03-09-2018',150.75),
# (4,3,'03-09-2018',700.60),
# ;

In [40]:
# INSERT INTO Orders
# (ProductID,PaymentID,FulfilledByEmployeeID,DateRequired,DateShipped,Status)
# VALUES
# (1, 1, 2, '05-09-2018', NULL, 'Not shipped'),
# (1, 2, 2, '04-09-2018', '03-09-2018', 'Shipped'),
# (3, 3, 3, '06-09-2018', NULL, 'Not shipped');

## Querying a database

In [30]:
pd.read_sql('SELECT * from customers',engine)

,customerid,firstname,lastname,gender,address,phone,email,city,country
0,3,Leon,Glen,Male,"81 Everton Rd,Gillits",820832830,Leon@gmail.com,Durban,South Africa
1,4,Charl,Muller,Male,290A Dorset Ecke,44856872553,Charl.muller@yahoo.com,Berlin,Germany
2,5,Julia,Stein,Female,2 Wernerring,448672445058,Js234@yahoo.com,Frankfurt,Germany
3,1,Lerato,Mabitso,Male,284 chaucer st,84789657,john@gmail.com,Johannesburg,South Africa

In [42]:
pd.read_sql('SELECT firstname from customers',engine)

  firstname
0      Leon
1     Charl
2     Julia
3    Lerato

In [43]:
pd.read_sql('SELECT firstname from customers WHERE CustomerID =1',engine)

  firstname
0    Lerato

In [46]:
pd.read_sql('UPDATE customers SET firstname = 'Lerato', lastname= 'Mabitso' WHERE customerID = 1;',engine)

SyntaxError: invalid syntax (<ipython-input-46-2899159929a8>, line 1)

In [47]:
pd.read_sql('DELETE FROM Customers WHERE CustomerID = 2',engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [48]:
pd.read_sql('SELECT COUNT(DISTINCT status) FROM orders',engine)

   count
0      2

In [49]:
pd.read_sql('SELECT MAX(Amount) from payments',engine)

     max
0  700.6

In [51]:
pd.read_sql('SELECT * FROM Customers ORDER BY Country',engine)

,customerid,firstname,lastname,gender,address,phone,email,city,country
0,4,Charl,Muller,Male,290A Dorset Ecke,44856872553,Charl.muller@yahoo.com,Berlin,Germany
1,5,Julia,Stein,Female,2 Wernerring,448672445058,Js234@yahoo.com,Frankfurt,Germany
2,3,Leon,Glen,Male,"81 Everton Rd,Gillits",820832830,Leon@gmail.com,Durban,South Africa
3,1,Lerato,Mabitso,Male,284 chaucer st,84789657,john@gmail.com,Johannesburg,South Africa

In [52]:
pd.read_sql('SELECT * FROM Products WHERE buyprice BETWEEN 100 AND 600',engine)

,productid,productname,description,buyprice
0,1,Harley Davidson Chopper,"This replica features working kickstand, front...",150.75
1,2,Classic Car,"Turnable front wheels, steering function",550.75

In [56]:
pd.read_sql('SELECT * FROM customers WHERE country = "Germany" AND city = "Berlin"',engine)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "Germany" does not exist
LINE 1: SELECT * FROM customers WHERE country = "Germany" AND city =...
                                                ^

[SQL: SELECT * FROM customers WHERE country = "Germany" AND city = "Berlin"]
(Background on this error at: http://sqlalche.me/e/f405)

In [57]:
pd.read_sql('SELECT * FROM customers WHERE city = 'Cape Town' OR city = 'Durban'',engine)

SyntaxError: invalid syntax (<ipython-input-57-f190e53dd5fa>, line 1)

In [58]:
pd.read_sql('SELECT * From Products WHERE buyprice > 500 ',engine)

   productid  productname                               description  buyprice
0          2  Classic Car  Turnable front wheels, steering function    550.75
1          3   Sports car  Turnable front wheels, steering function    700.60

In [59]:
pd.read_sql('SELECT SUM(Amount) FROM payments',engine)

      sum
0  1002.1

In [63]:
pd.read_sql('SELECT COUNT( status) FROM orders where status = 'Shipped'',engine)

SyntaxError: invalid syntax (<ipython-input-63-532b44f3310f>, line 1)